/*
 * Copyright 1997-2003 Samuel Audet <guardia@step.polymtl.ca>
 *                     Taneli Lepp„ <rosmo@sektori.com>
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *    1. Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *
 *    2. Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *
 *    3. The name of the author may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR IMPLIED
 * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
 * EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
 * OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include "realeq.h"
#include <os2.h>

DLGTEMPLATE ID_EQ 
BEGIN
	DIALOG "Real Equalizer", 10, -250, -90, 515, 186, FS_DLGBORDER|WS_CLIPSIBLINGS|WS_SAVEBITS|FS_MOUSEALIGN, FCF_TITLEBAR | FCF_SYSMENU | FCF_MINMAX | FCF_TASKLIST | FCF_NOBYTEALIGN
	BEGIN
		CONTROL "", ID_MUTEL +0, 4, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ID_MUTEL +1, 19, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +2, 34, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +3, 49, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +4, 64, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +5, 79, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +6, 94, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +7, 109, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +8, 124, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +9, 139, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +10, 154, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +11, 169, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +12, 184, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +13, 199, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +14, 214, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +15, 229, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +16, 244, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +17, 259, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +18, 274, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +19, 289, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +20, 304, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +21, 319, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +22, 334, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +23, 349, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +24, 364, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +25, 379, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +26, 394, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +27, 409, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +28, 424, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +29, 439, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +30, 454, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEL +31, 469, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEALLL, 504, 168, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Mute", 20000, 480, 168, 21, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Left", 20000, 236, 176, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "+12dB", ID_UTXTL, 480, 156, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "0dB", ID_CTXTL, 480, 132, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "-12dB", ID_BTXTL, 480, 108, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", ID_BANDL +0, 0, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +1, 15, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +2, 30, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +3, 45, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +4, 60, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +5, 75, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +6, 90, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +7, 105, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +8, 120, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +9, 135, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +10, 150, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +11, 165, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +12, 180, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +13, 195, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +14, 210, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +15, 225, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +16, 240, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +17, 255, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +18, 270, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +19, 285, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +20, 300, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +21, 315, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +22, 330, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +23, 345, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +24, 360, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +25, 375, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +26, 390, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +27, 405, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +28, 420, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +29, 435, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +30, 450, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDL +31, 465, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_MASTERL, 500, 105, 15, 62, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL ",016", 20000, 0, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL ",020", 20000, 15, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL ",025", 20000, 30, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL ",032", 20000, 45, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL ",040", 20000, 60, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL ",050", 20000, 75, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL ",063", 20000, 90, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL ",080", 20000, 105, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,10", 20000, 120, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,13", 20000, 135, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,16", 20000, 150, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,20", 20000, 165, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,25", 20000, 180, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,32", 20000, 195, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,40", 20000, 210, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,50", 20000, 225, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,63", 20000, 240, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "0,80", 20000, 255, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "1,00", 20000, 270, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "1,25", 20000, 285, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "1,60", 20000, 300, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "2,00", 20000, 315, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "2,50", 20000, 330, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "3,15", 20000, 345, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "4,00", 20000, 360, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "5,00", 20000, 375, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "6,30", 20000, 390, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "8,00", 20000, 405, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "10,0", 20000, 420, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "12,5", 20000, 435, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "16,0", 20000, 450, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "20,0", 20000, 465, 96, 15, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "kHz", 20000, 480, 96, 16, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "Master", 20000, 496, 96, 19, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Tms Rmn"
		CONTROL "", ID_BANDR +0, 0, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +1, 15, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +2, 30, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +3, 45, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +4, 60, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +5, 75, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +6, 90, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +7, 105, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +8, 120, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +9, 135, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +10, 150, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +11, 165, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +12, 180, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +13, 195, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +14, 210, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +15, 225, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +16, 240, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +17, 255, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +18, 270, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +19, 285, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +20, 300, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +21, 315, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +22, 330, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +23, 345, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +24, 360, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +25, 375, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +26, 390, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +27, 405, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +28, 420, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +29, 435, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +30, 450, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_BANDR +31, 465, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "", ID_MASTERR, 500, 34, 15, 61, WC_SLIDER, SLS_VERTICAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 25, 4, 20, 1
		CONTROL "Mute", 20000, 480, 26, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Right", 20000, 236, 18, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "+12dB", ID_UTXTR, 480, 84, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "0dB", ID_CTXTR, 480, 60, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "-12dB", ID_BTXTR, 480, 36, 20, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", ID_MUTER +0, 4, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ID_MUTER +1, 19, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +2, 34, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +3, 49, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +4, 64, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +5, 79, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +6, 94, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +7, 109, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +8, 124, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +9, 139, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +10, 154, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +11, 169, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +12, 184, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +13, 199, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +14, 214, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +15, 229, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +16, 244, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +17, 259, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +18, 274, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +19, 289, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +20, 304, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +21, 319, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +22, 334, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +23, 349, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +24, 364, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +25, 379, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +26, 394, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +27, 409, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +28, 424, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +29, 439, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +30, 454, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTER +31, 469, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "", ID_MUTEALLR, 504, 26, 10, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Equalizer enabled", EQ_ENABLED, 4, 4, 66, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "L~ock Left/Right", ID_LOCKLR, 4, 14, 66, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE
		CONTROL "~Zero", EQ_ZERO, 96, 3, 41, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Load", EQ_LOAD, 140, 3, 41, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE
		CONTROL "~Save", EQ_SAVE, 184, 3, 41, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE
		CONTROL "filename", EQ_FILE, 96, 16, 128, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		SPINBUTTON  ID_FIRORDER, 290, 5, 40, 12, SPBS_NUMERICONLY | SPBS_MASTER | SPBS_JUSTRIGHT | WS_GROUP | WS_TABSTOP
 		RTEXT "FIR order", 20000, 250, 4, 35, 8
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		SPINBUTTON  ID_PLANSIZE, 390, 5, 40, 12, SPBS_NUMERICONLY | SPBS_MASTER | SPBS_JUSTRIGHT | WS_GROUP | WS_TABSTOP
		RTEXT "FFT plan size", 20000, 335, 4, 50, 8
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "Gain values", ID_GAIN, 462, 14, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Group delays", ID_GROUPDELAY, 462, 4, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE
	END

END
