#include <os2.h>
#include "slider.h"

DLGTEMPLATE DLG_SLIDER
BEGIN
    DIALOG "Slider 123", 100, 20, 20, 100, 15, FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON | FCF_TASKLIST | FCF_NOBYTEALIGN
    BEGIN
        CONTROL "", SL_VOLUME, 0, 0, 100, 15, WC_SLIDER, SLS_HORIZONTAL | SLS_CENTER | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | SLS_OWNERDRAW | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CTLDATA 12, 0, 100, 1, 20, 1
    END
END
