/*
 * Copyright 2009-2009 M.Mueller
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *    1. Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *
 *    2. Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *
 *    3. The name of the author may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR IMPLIED
 * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
 * EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
 * OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include <os2.h>
#include "pulse123.h"
#include "utilfct.h"

DLGTEMPLATE DLG_CONFIG
{
  DIALOG "Pulse123 Configuration",          DLG_CONFIG,   0,  0, 224,100, WS_VISIBLE|FS_NOBYTEALIGN|FS_SIZEBORDER,
    FCF_TITLEBAR|FCF_SYSMENU|FCF_NOBYTEALIGN
    PRESPARAMS PP_FONTNAMESIZE "8.Helv"
  {
    GROUPBOX " PulseAudio Server ",         GB_GENERIC,   4, 52, 216, 44, NOT WS_TABSTOP|WS_GROUP
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "~URL",                 ST_GENERIC,   8, 80,  52,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    COMBOBOX        "",                     CB_SERVER,   64,  8, 152, 80, CBS_DROPDOWN
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "~Context",             ST_GENERIC,   8, 68,  52,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    AUTOCHECKBOX    "~keep alive",          CB_PBKEEP,   64, 68, 152,  8, WS_TABSTOP
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "Status"                ST_GENERIC,   8, 56,  52,  8, DT_BOTTOM|WS_GROUP
    LTEXT           "enter server name above",ST_STATUS, 64, 56, 152,  8, WS_TABSTOP
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)

    GROUPBOX " Select Target ",             GB_GENERIC,   4, 20, 216, 32, NOT WS_TABSTOP|WS_GROUP
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "~Sink",                ST_GENERIC,   8, 36,  52,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    COMBOBOX        "",                     CB_SINKSRC,  64,  4, 152, 40, CBS_DROPDOWNLIST
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "~Port",                ST_GENERIC,   8, 24,  52,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    COMBOBOX        "",                     CB_PORT,     64, -8, 152, 40, CBS_DROPDOWNLIST
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)

    DEFPUSHBUTTON   "OK",                   DID_OK,       8,  4,  52, 12, BS_DEFAULT|WS_GROUP
    PUSHBUTTON      "Cancel",               DID_CANCEL,  64,  4,  52, 12, WS_VISIBLE
  }
}

DLGTEMPLATE DLG_RECORD
{
  DIALOG "Record",                          DLG_RECORD,   0, 20, 223,116, WS_VISIBLE|FS_NOBYTEALIGN|FS_SIZEBORDER,
    FCF_TITLEBAR|FCF_SYSMENU|FCF_NOBYTEALIGN
    PRESPARAMS PP_FONTNAMESIZE "8.Helv"
  {
    GROUPBOX " PulseAudio Server ",         GB_GENERIC,   4, 84, 216, 30, NOT WS_TABSTOP|WS_GROUP
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "~URL",                 ST_GENERIC,   8,102,  52,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    COMBOBOX        "",                     CB_SERVER,   64, 26, 152, 80, CBS_DROPDOWN
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "Status"                ST_GENERIC,   8, 88,  52,  8, WS_GROUP
    LTEXT           "enter server name above",ST_STATUS, 64, 88, 152,  8, WS_TABSTOP
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)

    GROUPBOX " Select Target ",             GB_GENERIC,   4, 52, 216, 32, NOT WS_TABSTOP|WS_GROUP
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "~Source",              ST_GENERIC,   8, 68,  52,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    COMBOBOX        "",                     CB_SINKSRC,  64, 36, 152, 40, CBS_DROPDOWNLIST
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "~Port",                ST_GENERIC,   8, 56,  52,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    COMBOBOX        "",                     CB_PORT,     64, 24, 152, 40, CBS_DROPDOWNLIST
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)

    GROUPBOX " Parameters ",                GB_GENERIC,   4, 20, 216, 32, NOT WS_TABSTOP|WS_GROUP
      PRESPARAMS                   MAKE_PPU_RESIZE_INFO(0,1,0,1, 1,1,0,1)
    LTEXT           "Sampling rate",        ST_GENERIC,   8, 36,  52,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    SPINBUTTON                              SB_RATE      64, 36,  48,  8, SPBS_MASTER|SPBS_NUMERICONLY|SPBS_JUSTRIGHT
    LTEXT           "Hz",                   ST_GENERIC, 116, 36,  48,  8, DT_BOTTOM|WS_GROUP|DT_MNEMONIC
    LTEXT           "Channels",             ST_GENERIC,   8, 24,  52,  8, WS_GROUP|DT_MNEMONIC
    AUTORADIOBUTTON "~mono",                RB_MONO,     64, 24,  48,  8, WS_TABSTOP
    AUTORADIOBUTTON "~stereo",              RB_STEREO,  116, 24,  48,  8

    DEFPUSHBUTTON   "Chose",                DID_OK,       8,  4,  52, 12, BS_DEFAULT|WS_GROUP
    PUSHBUTTON      "Cancel",               DID_CANCEL,  64,  4,  52, 12, WS_VISIBLE
  }
}
