#include <os2.h>
#include "mpg123.h"

DLGTEMPLATE DLG_CONFIGURE
BEGIN
  DIALOG "MP3 Decoder", 100, -75, -20, 270, 160,
          FS_MOUSEALIGN, FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
    BEGIN
/*<<<<<<< .working*/
/*		CONTROL " Tag Settings ", ID_NULL, 4, 72, 224, 32, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"
		CONTROL "~Codepage", ST_CHARSET, 12, 88, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | DT_MNEMONIC
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", CB_CHARSET, 44, 40, 176, 56, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
		CONTROL "~Auto-detect codepage using the above and the prepared codepages", CB_AUTO_CHARSET, 12, 76, 208, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP*/
/*=======*/
    CONTROL " Decode ", ID_NULL, 5, 130, 260, 26, WC_STATIC,
      SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"
    CONTROL "~Use MMX", CB_USEMMX, 10, 133, 120, 10, WC_BUTTON,
      BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
/*>>>>>>> .merge-right.r398*/

    CONTROL " Tags ", ID_NULL, 5, 52, 260, 75, WC_STATIC,
      SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"

    CONTROL "Read tags", ID_NULL, 10, 107, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_READ, 10, 46, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "ID3v2 reading characters encoding", ID_NULL, 10, 87, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_ID3V2_RDCH, 10, 26, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "ID3v1 reading characters encoding", ID_NULL, 10, 67, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_ID3V1_RDCH, 10, 6, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE

    CONTROL "Write tags", ID_NULL, 140, 107, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_WRITE, 140, 46, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "ID3v2 writing characters encoding", ID_NULL, 140, 87, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_ID3V2_WRCH, 140, 26, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "ID3v1 writing characters encoding", ID_NULL, 140, 67, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_ID3V1_WRCH, 140, 6, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE

    CONTROL "Copyright (C) 2006-2007 Dmitry A.Steklenev", ID_NULL, 10, 39, 190, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "Copyright (C) 2000-2003 Micheal Hipp", ID_NULL, 10, 31, 190, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "Copyright (C) 2000-2003 Samuel Audet", ID_NULL, 10, 23, 190, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT

    PUSHBUTTON "~OK", DID_OK, 5, 5, 25, 13, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "~Cancel", DID_CANCEL, 35, 5, 32, 13
  END
END

DLGTEMPLATE DLG_ID3TAG 
BEGIN
	DIALOG "ID3 Tag Editor", DLG_ID3TAG, 125, 69, 272, 176, WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON | FCF_NOBYTEALIGN
	BEGIN
		CONTROL "", NB_ID3TAG, 0, 20, 272, 156, WC_NOTEBOOK, BKS_BACKPAGESTR | BKS_MAJORTABTOP | BKS_TABBEDDIALOG | WS_GROUP | WS_TABSTOP | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
		CONTROL "OK", DID_OK, 92, 4, 40, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Cancel", DID_CANCEL, 148, 4, 40, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE DLG_ID3V10 
BEGIN
	DIALOG "", DLG_ID3V10, 18, 24, 253, 120, NOT WS_SAVEBITS | NOT FS_DLGBORDER | FS_NOBYTEALIGN
	PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	BEGIN
		CONTROL "Song title", ST_ID3_TITLE, 8, 104, 58, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", EN_ID3_TITLE, 76, 104, 164, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 8, 30, 0, 0
		CONTROL "Artist's name", ST_ID3_ARTIST, 8, 88, 58, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", EN_ID3_ARTIST, 76, 88, 164, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
		CTLDATA 8, 30, 0, 0
		CONTROL "Album name", ST_ID3_ALBUM, 8, 72, 58, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", EN_ID3_ALBUM, 76, 72, 164, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
		CTLDATA 8, 30, 0, 0
		CONTROL "Track no.", ST_ID3_TRACK, 8, 56, 58, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", EN_ID3_TRACK, 76, 56, 50, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
		CTLDATA 8, 3, 0, 0
		CONTROL "Comment", ST_ID3_COMMENT, 8, 40, 58, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", EN_ID3_COMMENT, 76, 40, 164, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
		CTLDATA 8, 30, 0, 0
		CONTROL "Music style", ST_ID3_GENRE, 8, 24, 58, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", CB_ID3_GENRE, 76, -16, 164, 48, WC_COMBOBOX, CBS_DROPDOWN | WS_VISIBLE | WS_TABSTOP
		CONTROL "Release year", ST_ID3_YEAR, 8, 8, 58, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", EN_ID3_YEAR, 76, 8, 50, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_TABSTOP
		CTLDATA 8, 4, 0, 0
		PUSHBUTTON "~Undo", PB_ID3_UNDO, 140, 4, 48, 12, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP | BS_NOPOINTERFOCUS
		PUSHBUTTON "~Clear", PB_ID3_CLEAR, 196, 4, 48, 12, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP | BS_NOPOINTERFOCUS
	END
END

