#include <os2.h>
#include "mpg123.h"

DLGTEMPLATE DLG_CONFIGURE
BEGIN
  DIALOG "MP3 Decoder", 100, -75, -20, 270, 160,
          FS_MOUSEALIGN, FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
  BEGIN
    CONTROL " Decode ", ID_NULL, 5, 130, 260, 26, WC_STATIC,
      SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"
    CONTROL "~Use MMX", CB_USEMMX, 10, 133, 120, 10, WC_BUTTON,
      BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP

    CONTROL " Tags ", ID_NULL, 5, 52, 260, 75, WC_STATIC,
      SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"

    CONTROL "Read tags", ID_NULL, 10, 107, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_READ, 10, 46, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "ID3v2 reading characters encoding", ID_NULL, 10, 87, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_ID3V2_RDCH, 10, 26, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "ID3v1 reading characters encoding", ID_NULL, 10, 67, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_ID3V1_RDCH, 10, 6, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE


    CONTROL "Write tags", ID_NULL, 140, 107, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_WRITE, 140, 46, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "ID3v2 writing characters encoding", ID_NULL, 140, 87, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_ID3V2_WRCH, 140, 26, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "ID3v1 writing characters encoding", ID_NULL, 140, 67, 120, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "",  CB_ID3V1_WRCH, 140, 6, 120, 60, WC_COMBOBOX,
      CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | WS_VISIBLE


    CONTROL "Copyright (C) 2006-2007 Dmitry A.Steklenev", ID_NULL, 10, 39, 190, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "Copyright (C) 2000-2003 Micheal Hipp", ID_NULL, 10, 31, 190, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "Copyright (C) 2000-2003 Samuel Audet", ID_NULL, 10, 23, 190, 8, WC_STATIC,
      SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT

    DEFPUSHBUTTON "~OK", DID_OK, 5, 5, 25, 13, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "~Cancel", DID_CANCEL, 35, 5, 32, 13
  END
END

