/*
 * Copyright 1997-2003 Samuel Audet <guardia@step.polymtl.ca>
 *                     Taneli Lepp„ <rosmo@sektori.com>
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *    1. Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *
 *    2. Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *
 *    3. The name of the author may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR IMPLIED
 * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
 * EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
 * OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include <os2.h>
#include "analyzer.h"

DLGTEMPLATE DLG_CONFIGURE
BEGIN
  DIALOG "Spectrum Analyzer", DLG_CONFIGURE, -75, -20, 152, 148,
        WS_VISIBLE | FS_MOUSEALIGN, FCF_TITLEBAR | FCF_SYSMENU | FCF_MINMAX
  BEGIN
    CONTROL "Settings", GB_SETTINGS, 5, 39, 140, 104, WC_STATIC,
        SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"

    CONTROL "", SB_FREQUENCY, 10, 122, 34, 10, WC_SPINBUTTON,
        SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "Update frequency", ST_FREQUENCY, 50, 123, 52, 8, WC_STATIC,
        SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT

    CONTROL "Display", ST_DISPLAY, 10, 110, 24, 8, WC_STATIC,
        SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "", SB_PERCENT, 35, 109, 34, 10, WC_SPINBUTTON,
        SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_TABSTOP
    CONTROL "% of the spectrum", ST_PERCENT, 71, 110, 54, 8, WC_STATIC,
        SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT

    CONTROL "~Falloff", CB_FALLOFF, 11, 96, 35, 10, WC_BUTTON,
        BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP | WS_GROUP
    CONTROL "", SB_FALLOFF, 45, 96, 29, 10, WC_SPINBUTTON,
        SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_TABSTOP
    CONTROL "pixels", ST_PIXELS, 78, 97, 25, 8, WC_STATIC,
        SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT

    CONTROL "Display", ST_DEFAULT, 11, 84, 85, 8, WC_STATIC,
        SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
        PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"

    CONTROL "~Spectrum analyzer", RB_ANALYZER, 11, 74, 72, 10, WC_BUTTON,
        BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "Spectrum ~bars", RB_BARS, 11, 64, 72, 10, WC_BUTTON,
        BS_AUTORADIOBUTTON | WS_VISIBLE
    CONTROL "Os~cilloscope", RB_OSCILLOSCOPE, 11, 54, 72, 10, WC_BUTTON,
        BS_AUTORADIOBUTTON | WS_VISIBLE
    CONTROL "~Disabled", RB_DISABLED, 11, 44, 72, 10, WC_BUTTON,
        BS_AUTORADIOBUTTON | WS_VISIBLE

    CONTROL "(C) 1998 Taneli Lepp\204, Samuel Audet", ST_ABOUT, 10, 29, 129, 8, WC_STATIC,
        SS_TEXT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT
    CONTROL "(C) 2005 Dmitry A.Steklenev", ST_AUTHOR, 10, 21, 129, 8, WC_STATIC,
        SS_TEXT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FOREGROUNDCOLORINDEX, SYSCLR_MENUTEXT

    DEFPUSHBUTTON "~OK", DID_OK, 48, 3, 51, 14, WS_GROUP | WS_TABSTOP
  END
END

