/*
 * Copyright 1997-2003 Samuel Audet <guardia@step.polymtl.ca>
 *                     Taneli Lepp„ <rosmo@sektori.com>
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *    1. Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *
 *    2. Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *
 *    3. The name of the author may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR IMPLIED
 * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
 * EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
 * OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include <os2.h>
#include "wavout.h"

DLGTEMPLATE 1
BEGIN
    DIALOG "WAVOUT.DLL", 100, 20, 30, 200, 60, , FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
    BEGIN
        LTEXT "WAV Directory", ST_FILENAME, 2, 41, 50, 8
        ENTRYFIELD "", EF_FILENAME,55,41,100,8, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN
        PUSHBUTTON "~Browse", PB_BROWSE ,160,38,32,13

        CONTROL "WAV Output for PM123 (C) 2000 Samuel Audet" ID_NULL, 10, 25, 160, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L

        DEFPUSHBUTTON "~OK", DID_OK, 5, 5, 25, 13, WS_GROUP | WS_TABSTOP
        PUSHBUTTON "~Cancel", DID_CANCEL, 35, 5, 32, 13
    END
END
