/*
 * Copyright 1997-2003 Samuel Audet <guardia@step.polymtl.ca>
 *                     Taneli Lepp„ <rosmo@sektori.com>
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *    1. Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *
 *    2. Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *
 *    3. The name of the author may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR IMPLIED
 * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
 * EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
 * OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include <os2.h>
#include "wavout.h"

DLGTEMPLATE DLG_CONFIGURE
BEGIN
  DIALOG "WAVE Output", DLG_CONFIGURE, 20, 30, 200, 60,,
         FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
  BEGIN
    CONTROL "Output directory", ST_FILENAME, 5, 33, 190, 25, WC_STATIC,
        SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"
    ENTRYFIELD "", EF_FILENAME, 12, 38, 153, 8,
        ES_LEFT | ES_AUTOSCROLL | ES_MARGIN
        CTLDATA 8, 512, 0, 0
    PUSHBUTTON "...", PB_BROWSE, 170, 36, 20, 12
    CONTROL "(C) 2000 Samuel Audet, (C) 2006 Dmitry A.Steklenev",
        ST_ABOUT, 5, 23, 190, 8, WC_STATIC,
        SS_TEXT | DT_VCENTER | WS_VISIBLE | DT_CENTER
        PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
    DEFPUSHBUTTON "~OK", DID_OK, 75, 5, 51, 14, WS_GROUP | WS_TABSTOP
  END
END

DLGTEMPLATE DLG_BROWSE
BEGIN
    DIALOG "File Dialog", DLG_BROWSE, 0, 0, 245, 130,
           FS_NOBYTEALIGN | FS_DLGBORDER | WS_SAVEBITS | WS_VISIBLE,
           FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
           PRESPARAMS PP_FONTNAMESIZE "8.Helv"
    BEGIN
         CONTROL "~Drive", DID_DRIVE_TXT, 12, 118, 222, 7, WC_STATIC,
                 SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
         CONTROL "", DID_DRIVE_CB, 11, 52, 225, 63, WC_COMBOBOX,
                 CBS_DROPDOWNLIST | WS_VISIBLE | WS_GROUP | WS_TABSTOP
         CONTROL "~Directory", DID_DIRECTORY_TXT, 12, 95, 222, 7, WC_STATIC,
                 SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
         CONTROL "", DID_DIRECTORY_LB, 11, 25, 225, 67, WC_LISTBOX,
                 LS_NOADJUSTPOS | LS_HORZSCROLL | LS_OWNERDRAW | WS_GROUP | WS_TABSTOP | WS_VISIBLE
         CONTROL "~OK", DID_OK, 11, 5, 38, 12, WC_BUTTON,
                 BS_PUSHBUTTON | BS_DEFAULT | WS_GROUP | WS_TABSTOP | WS_VISIBLE
         CONTROL "~Cancel", DID_CANCEL, 52, 5, 38, 12, WC_BUTTON,
                 BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE

         // This is invisible controls don't used via directory selection
         CONTROL "", DID_FILENAME_TXT, 0, 0, 0, 0, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC
         CONTROL "", DID_FILENAME_ED,  0, 0, 0, 0, WC_ENTRYFIELD, ES_MARGIN
         CONTROL "", DID_FILTER_TXT,   0, 0, 0, 0, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC
         CONTROL "", DID_FILTER_CB,    0, 0, 0, 0, WC_COMBOBOX, CBS_DROPDOWNLIST
         CONTROL "", DID_FILES_TXT,    0, 0, 0, 0, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC
         CONTROL "", DID_FILES_LB,     0, 0, 0, 0, WC_LISTBOX, LS_NOADJUSTPOS | LS_HORZSCROLL
    END
END

