/*
 * Copyright 1997-2003 Samuel Audet <guardia@step.polymtl.ca>
 *                     Taneli Lepp„ <rosmo@sektori.com>
 *
 * Copyright 2007-2008 Dmitry A.Steklenev <glass@ptv.ru>
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *    1. Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *
 *    2. Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *
 *    3. The name of the author may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR IMPLIED
 * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
 * EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
 * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
 * OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include <os2.h>
#include "os2audio.h"

DLGTEMPLATE DLG_CONFIGURE 
BEGIN
	DIALOG "DART Output", DLG_CONFIGURE, -155, -66, 315, 134, FS_MOUSEALIGN, FCF_TITLEBAR | FCF_SYSMENU | FCF_CLOSEBUTTON
	BEGIN
		CONTROL " Sound device", ID_NULL, 4, 86, 150, 45, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"
		CONTROL "", CB_DEVICE, 8, 78, 140, 42, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sound device is ~shared", CB_SHARED, 8, 98, 140, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL " Settings ", ID_NULL, 160, 86, 150, 45, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"
		CONTROL "Buffers", SB_BUFFERS, 164, 110, 33, 13, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Number of buffers", ID_NULL, 200, 110, 104, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX , SYSCLR_MENUTEXT
		CONTROL "Play ~48kHz as 44kHz", CB_48KLUDGE, 164, 98, 140, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Disable high persicion ~playing pos", CB_NOPRECPOS, 164, 88, 140, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL " Replay Gain ", ID_NULL, 4, 30, 305, 55, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"
		CONTROL "Enable ~Replay Gain processing", CB_RG_ENABLE, 8, 66, 200, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", CB_RG_TYPE, 8, 22, 295, 42, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", SB_RG_PREAMP, 8, 44, 53, 10, WC_SPINBUTTON, SPBS_MASTER | SPBS_READONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Preamp for tracks with Replay Gain information", ST_RG_PREAMP, 64, 44, 235, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX , SYSCLR_MENUTEXT
		CONTROL "", SB_PREAMP, 8, 34, 53, 10, WC_SPINBUTTON, SPBS_MASTER | SPBS_READONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Preamp for other tracks", ST_PREAMP, 64, 34, 235, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX , SYSCLR_MENUTEXT
		CONTROL "(C) 2000 Samuel Audet", ID_NULL, 144, 20, 164, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLORINDEX , SYSCLR_MENUTEXT
		CONTROL "(C) 2006-2008 Dmitry A.Steklenev", ID_NULL, 144, 12, 164, 8, WC_STATIC, SS_TEXT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX , SYSCLR_MENUTEXT
		CONTROL "(C) 2007-2009 Marcel Mueller", ID_NULL, 144, 4, 164, 8, WC_STATIC, SS_TEXT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX , SYSCLR_MENUTEXT
		DEFPUSHBUTTON "~OK", DID_OK, 8, 6, 32, 12, WS_GROUP | WS_TABSTOP
		PUSHBUTTON "~Cancel", DID_CANCEL, 48, 6, 32, 12
	END

END
